{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/diary.css' %}">

<div class="diary-container">
  <h1 class="diary-title">2025 멋쟁이사자처럼 13기</h1>
  <div class="diary-subtitle">선우의 일기장 🌿</div>
  <div class="diary-content">
    <div>오늘의 날씨: 맑음 ☀️</div>
    <div>룸메랑 방울토마토를 키우기 시작했다</div>
    <div>그런데 방에 햇빛이 생각보다 안 들어서 잘 자랄지 걱정된다.</div>
    <img src="{% static 'images/토마토 키우기 사진.jpg' %}" alt="방울토마토 사진" class="tomato-img">
  </div>
</div>

{% endblock %}
